
html,body
{
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.landing {
  position: relative;
}


.bckgImg {
  box-shadow: 0px 16px 28px 13px #151617;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -100;
}


/*######## ######## ########   NAVBAR  ######## ######## ########  */

.navbar {
  background: rgba(4,59,53,0.70);

}
#bootstrap-override .navbar .nav-link  {
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contribute-button {
  border-radius: 12px;
  background: rgba(255,96,92,0.9);
  border-color: rgba(255,96,92,0.9);
  color: white;
  letter-spacing: 1.5px;

}

@media (max-width: 730px) {
  #bootstrap-override .navbar .nav-item {
    /* padding-left: 30%; */
    /* padding-right: 50%; */
    text-align: center;
  }
  .navbar form {
    justify-content: center;
  }
  #bootstrap-override .aTagContrib {
    display: grid;
  }
  .aTagContrib:active{
    text-decoration: none;
  }
}
/* btn */
.menu {
	position: relative;
	display:  inline-block;
	width: 30px;
	height: 20px;
	margin: 5px;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 6px;
	background-color: white;
	display: block;
}
.menu span:before {
	margin-top: -12px;
}
.menu span:after {
	margin-top: 12px;
}
/* --- btn --- */

/* example 5 */
/* example 5 */
.example5 span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.example5.open span {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.example5 span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.example5.open span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.example5 span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.example5.open span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}



/*################################################################## COURSEL CUSTOMIZATION ################ */

/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
/* body {
  padding-bottom: 40px;
  color: #5a5a5a;
} */
.logoImg {
  color:#fff;
  position:absolute;
  z-index:12;
  top:10%;
  left:0;
  width:100%;
  text-align:start;
  padding-left: 10%;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:30%;
  left:0;
  width:100%;
  text-align:center;
  padding-left: 10%;
}

#mainTitle {

  border: 0 solid #FFFFFF;
  font-family: OpenSans-ExtraBold;
  font-size: 80px;
  color: #13301B;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 0;
  /* padding-left: 10%; */
  /* padding-left: 2%; */
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}

@media (max-width: 730px) {
  #mainTitle {

    border: 0 solid #FFFFFF;
    font-family: OpenSans-ExtraBold;
    font-size: 30px;
    color: #13301B;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    /* padding-left: 10%; */
    /* padding-left: 2%; */
  }
  .logoImg {
    color:#fff;
    position:absolute;
    z-index:12;
    top:3.5rem;
    left:0;
    width:50%;
    text-align:start;
    padding-left: 10%;
  }

  #logoImgReal{
    width: 50px;
    padding-top: 5px;
  }
  .overlay {
    color:#fff;
    position:absolute;
    z-index:12;
    top:7rem;
    left:0;
    width:100%;
    text-align:center;
    padding-left: 10%;
  }
  .bckgImg {
    box-shadow: 0px 16px 28px 13px #151617;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: -100;
  }
}


/* ######## ########  WHAT DO WE DO SECTION  ######## ######## ######## */

h2 {
  color: rgb(4,59,53);
  font-weight: 100;
}
.descriptionSection {
text-align: center;
}
.clipartImages {
  margin-top: 10px;
  margin-bottom: 10px;
}

#whatWeDo img {
  text-align: center;
}
@media (max-width: 730px) {
#whatWeDo h1 {
  padding-left: 25px;
}
}


/* ######## ######## ########  AID TRACKER ######## ######## ######## ########  */

#first-aid-box {
  position: absolute;
  left: 75px;
  top: -90px;
  width: 300px;
  z-index: 2;
}

section.aid-tracker {
  margin-top: 120px;
  position: relative;
}
.aid-tracker {
  background: rgba(4,59,53,0.70);
}

.aid-tracker {
  color: white;
}

.aid-tracker h2 {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
}
span.big-number {
  color: white;
  font-weight: 100;
  font-size: 80px;
  font-family: 'Lato', sans-serif;

}


.aid-tracker {
text-align: center;
}

.aid-tracker p {
  letter-spacing: 2px;
}

.updatedSinceRow {
font-family: 'Lato', sans-serif;
font-weight: 300;

}
@media (max-width: 730px) {
  #first-aid-box {
    position: absolute;
    left: 10%;
    top: -90px;
    width: 300px;
    z-index: 2;
  }

  .updatedSinceRow {
    text-align: center;
    justify-content: center;
    padding-top: 20px;

  }
}


/*######## ######## ######## ########  WHY CARE SECTION ######## ######## ######## ######## */


.why-care .item {
  width: 200px;
  margin: 50px auto;
  max-height: 250px;
  padding: 20px 20px;
  background: rgba(4,59,53,0.50);
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border-radius: 10px;
}
.why-care .item span {
  display: block;
  font-size: 1rem;
  font-family:
  box-sizing: border-box;

}
.why-care .item--primary {
  position: fixed;
  top: 0;
  bottom: 200px;
  margin: auto;
  right: 300px;
  background: none;
  box-sizing: border-box;
}
.why-care .item--secondary {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 100px;
  background: none;
  box-sizing: border-box;
}


.why-care span {
  font-weight: 400;
  color: #d63031;
}

.why-care span.citation {
  color: black;
  font-size: 0.5rem;
}

@media (max-width: 730px) {
.why-care .animatedPictures {
  display: none;
}
}

/* ######## ######## ######## ######## FOOTER  ######## ######## ######## ######## ########  */
footer.websiteFooter {
  color: white;
  margin-top: 20px;
  /* text-align-last: center; */
  background: rgba(4,59,53, 0.7);
  /* height: 20px; */
  width: 100%;
  /* font-size: 0.7rem; */

}

footer.websiteFooter i {
  color: white;
}

footer.websiteFooter h1 {
font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-align: left;
}

.datalchemyFooter {
  background: black;
  color: white;
}

.copyrightLine {
  font-size: 10px;
}
a:hover{
  text-decoration: underline;
  color: green;
  /* text-shadow: 0px 0px 10px 10px black; */
}


@media (max-width: 730px) {
  footer .contribute-button {
    margin: 10px 0px;
  }
}

/* SCRAP??? */

.img-box {
  padding-bottom: 20px;
}
.carousel-indicators {
  margin-top: 50px;
}




span {
  color: rgb(4,59,53);
}


/* #mainNavBar {
  font-size: 1.3rem;
  font-weight: 100;
}

#mainNavBar .nav-link {
  color: white;
  font-size: 1.2rem;
}

#mainNavBar .nav-link:hover {
  color: #EA1C2C;
}

#mainNavBar .navbar-brand {
  color: #EA1C2C;
  font-size: 1.5rem;
}


#navbarLife.navbar.scrolled {
    background: rgba(4,59,53,0.70);
    transition: background 500ms;
}
#navbarLife.navbar {
    background: none;
    transition: background 500ms;
} */
