.courses-section {
  padding-top: 5rem;
}

.courses-section .container {
  /* display: flex;
  justify-content: center; */
}

.islamiccoursetitle {
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.courses-section .card {
  margin-top: 1rem;
}


#bootstrap-override .courses-section .btn {
  border-radius: 12px;
  background: rgba(4,59,53);
  border-color: rgba(4,59,53);
  color: white;
  letter-spacing: 1.5px;

}
#bootstrap-override .courses-section .startCourse {
  display: block;
}

.card img {
  height: auto;
  width: 100px;
  padding-top: 1rem;
}
