.mission-top {
  background-color:rgba(4,59,53,0.70);
  background-size: cover;
  background-position: center center;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  padding: 7rem;
}

.salaam {
  padding: 10px;
  display:flex;
}

.fromLine {
  font-weight: 600;
  color: rgb(4,59,53);
}

@media (max-width: 730px) {
.mission-top {
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  padding-top:4rem;

}
}

.firstPara div p{
  text-align: justify;
}
.mission-top h1 {
  font-size: 3rem;
  font-weight: 700;
}
.foundermessage  {
  padding-top: 5rem;
}


/* Container holding the image and the text */
#bootstrap-override .withPic {
  position: relative;
  text-align: center;
  color: black;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: 700;
  display: inline-table;
}

.refrence {
  font-size: 2rem;
}

.firstPara .contribute-button {
  margin-top: 1rem;
}

@media (max-width: 730px) {
  .centered {
    padding-top: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  color:black;
}
.refrence {
  font-size: 0.3rem;
}
}

.quote {
  font-family: 'Coustard', serif;
  /* font-size: 1.5rem; */
}

#chartdiv {
  width: 100%;
  height: 500px;
  justify-content: center;
}
